<section class="main">
  <div class="container d-flex">
    <div class="flex-item">
      <app-mars></app-mars>
    </div>
    <div class="flex-item left">
      <div @fall class = "mat-display-2 title">Explore an unknown Mars.</div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container">
    <div @fall class = "mat-display-2 select-title">Choose a rover, camera and day to start the journey ...</div>
    <div class = "center select">
      <app-select ></app-select>
    </div>
    <div class = "photo-wrapper">
    <app-photo-wrapper></app-photo-wrapper>
    </div>
    </div>
</section>
<app-modal-window></app-modal-window>
